<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- 
            loginDataBase = логин для базы данных
            pasDataBase = пароль для базы данных
            dataBaseUrl = ссылка для подключения к базы данных
            dataBaseType = тип базы данных (xml, sql)
        -->
        <add key="loginDataBase" value="login" />
        <add key="pasDataBase" value="pas" />
        <add key="dataBaseUrl" value="url" />        
        <add key="dataBaseType" value="xml" />        
  </appSettings>
</configuration>
